* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "NotoSerif-Regular", serif;
}

@font-face {
    font-family: "NotoSerif-Bold";
    src: url("../fonts/NotoSerif-Bold.ttf");
}

@font-face {
    font-family: "NotoSerif-BoldItalic";
    src: url("../fonts/NotoSerif-BoldItalic.ttf");
}

@font-face {
    font-family: "NotoSerif-Italic";
    src: url("../fonts/NotoSerif-Italic.ttf");
}

@font-face {
    font-family: "NotoSerif-Regular";
    src: url("../fonts/NotoSerif-Regular.ttf");
}

/* 
#444444
#7C7575
#B8B0B0
#DFD3D3
#FBF0F0
#512C62
#C70D3A
#FFBD39
#115173
#fff
#1C6758
*/

main {
    background-color: #B8B0B0;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 4rem;
    font-family: "NotoSerif-Bold", serif;
    color: #444444;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #DFD3D3;
    color: #444444;
    border: 2px solid #444444;
    padding: 10px 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #444444;
    color: #DFD3D3;
}

#solutionRevealSection {
    padding-bottom: 10px;
}

#whoDunit p,
#whoDunit span {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-family: "NotoSerif-Bold", serif;
    color: #444444;
}

#cardReveal {
    display: flex;
    gap: 50px;
    margin: 10px 150px;
}

#suspectCard {
    width: 80%;
    height: 65vh;
    border: 8px double black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

#suspectCardImg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10px;
}

#suspectCardSuspectName {
    font-size: 2rem;
    font-family: "NotoSerif-Regular", serif;
    color: #444444;
}

#suspectCardSuspectFirstLastAge {
    font-size: 1.6rem;
    font-family: "NotoSerif-Regular", serif;
    color: #444444;
}

#SuspectCardOccupationDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#SuspectCardOccupation,
#SuspectCardDescription {
    font-size: 1.4rem;
    font-family: "NotoSerif-Regular", serif;
    color: #444444;
    text-align: center;
}

#rightCards {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#roomCard,
#weaponCard,
#suspectCard {
    display: none;
}

.small {
    width: 80%;
    height: 45%;
    border: 8px double black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.small h2 {
    font-size: 3rem;
    font-family: "NotoSerif-Regular", serif;
    color: #444444;
}

#playAgainButton {
    display: none;
}


@media only screen and (max-width: 991px) {
    #cardReveal {
        margin: 10px 50px;
    }
}

@media only screen and (max-width: 767px) {
    #cardReveal {
        flex-direction: column;
        align-items: center;
        margin: 10px 125px;
    }
}

@media only screen and (max-width: 575px) {
    #cardReveal {
        /* flex-direction: column;
        align-items: center; */
        margin: 10px 50px;
    }
}